In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd

DEVELOPE = True

In [2]:
#taxi
df = pd.read_csv('data/agg_clean_taxi_201501_06.csv', index_col=0)
print ("Shape of data\n{}".format(df.shape))
df.head()

Shape of data
(158270, 5)

   dayofweek  dayofyear day_and_hour  pickups geohash_pickup
0   Thursday         29         2914        1          SHBHR
1  Wednesday         21         2111        1          SHBI3
2   Saturday         10          109        1          SHBJ3
3     Sunday         11          116        1          SHBJ3
4     Monday         12         1210        1          SHBJ3

In [3]:
#FHV
df_fhv = pd.read_csv('data/agg_clean_FHV_201501_06.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv.shape))
df_fhv.head()

Shape of data
(4232, 2)

  day_and_hour  FHV_count
0           10       7455
1          100       5080
2          101       3551
3         1010       3342
4         1011       3666

In [4]:
#weather
df_wea = pd.read_csv('data/clean_weather_data_2015.csv', index_col=0)
print ("Shape of data\n{}".format(df_wea.shape))
df_wea.head()

Shape of data
(365, 22)

,DATE,DAILYSunrise,DAILYSunset,wind_speed_average,precipitation,snowfall,snow_depth,temperature_max,temperature_min,fastest_2minute_windspeed,...,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month,dayofyear
732,2015-01-01,720,1639,7.16,0.00,0.0,0.0,39.0,27.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,1
733,2015-01-02,720,1640,7.16,0.00,0.0,0.0,42.0,35.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,2
734,2015-01-03,720,1641,6.49,0.71,0.0,0.0,42.0,33.0,12.1,...,0.0,0.0,1.0,0.0,0.0,0.0,-1,2015,1,3
735,2015-01-04,720,1642,6.49,0.30,0.0,0.0,56.0,41.0,29.1,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,4
736,2015-01-05,720,1643,10.51,0.00,0.0,0.0,49.0,21.0,23.9,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,5

## Merge

In [5]:
print ("Shape of data{}".format(df.shape))
df = df.merge(df_fhv, on='day_and_hour', how='left')
df.drop_duplicates(inplace=True)
print ("Shape of data{}".format(df.shape))
df = df.merge(df_wea, on='dayofyear', how='left')
df.drop_duplicates(inplace=True)
print ("Shape of data{}".format(df.shape))

Shape of data(158270, 5)
Shape of data(158270, 6)
Shape of data(158270, 27)

In [6]:
df.head()

,dayofweek,dayofyear,day_and_hour,pickups,geohash_pickup,FHV_count,DATE,DAILYSunrise,DAILYSunset,wind_speed_average,...,heavy_fog,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month
0,Thursday,29,2914,1,SHBHR,4252,2015-01-29,709,1710,3.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
1,Wednesday,21,2111,1,SHBI3,3456,2015-01-21,715,1700,4.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
2,Saturday,10,109,1,SHBJ3,3027,2015-01-10,720,1647,8.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
3,Sunday,11,116,1,SHBJ3,4476,2015-01-11,720,1649,6.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
4,Monday,12,1210,1,SHBJ3,4176,2015-01-12,719,1650,3.80,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1

In [7]:
df.count()

dayofweek                    158270
dayofyear                    158270
day_and_hour                 158270
pickups                      158270
geohash_pickup               158270
FHV_count                    158270
DATE                         158270
DAILYSunrise                 158270
DAILYSunset                  158270
wind_speed_average           158270
precipitation                158270
snowfall                     158270
snow_depth                   158270
temperature_max              158270
temperature_min              158270
fastest_2minute_windspeed    158270
fog                          158270
heavy_fog                    158270
ice_pellets                  158270
glaze_rime                   158270
smoke_haze                   158270
mist                         158270
drizzle                      158270
ice_fog                      158270
EVENT_TYPE                   158270
year                         158270
month                        158270
dtype: int64

In [8]:
df.describe()

,dayofyear,pickups,FHV_count,DAILYSunrise,DAILYSunset,wind_speed_average,precipitation,snowfall,snow_depth,temperature_max,...,heavy_fog,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month
count,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,...,158270.000000,158270.000000,158270.000000,158270.000000,158270.0,158270.0,158270.0,158270.000000,158270.0,158270.000000
mean,94.310545,2.425406,5044.495539,549.585537,1814.170904,5.919053,0.107403,0.218245,2.434978,56.871391,...,0.035711,0.005048,0.019416,0.344525,0.0,0.0,0.0,-0.815132,2015.0,3.619985
std,51.532855,2.723894,2074.660338,108.633153,91.381029,2.361902,0.278989,0.946706,4.506545,20.250432,...,0.185570,0.070872,0.137983,0.475215,0.0,0.0,0.0,1.265914,0.0,1.683289
min,1.000000,1.000000,437.000000,424.000000,1639.000000,2.010000,0.000000,0.000000,0.000000,19.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,-1.000000,2015.0,1.000000
25%,51.000000,1.000000,3639.000000,435.000000,1736.000000,4.250000,0.000000,0.000000,0.000000,39.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,-1.000000,2015.0,2.000000
50%,96.000000,1.000000,5133.000000,532.000000,1826.000000,5.370000,0.000000,0.000000,0.000000,57.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,-1.000000,2015.0,4.000000
75%,139.000000,3.000000,6441.000000,644.000000,1910.000000,7.160000,0.040000,0.000000,2.000000,75.000000,...,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.0,-1.000000,2015.0,5.000000
max,181.000000,43.000000,13086.000000,720.000000,1931.000000,14.540000,2.100000,7.500000,19.000000,90.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,9.000000,2015.0,6.000000

In [9]:
#not meaningful in this small time frame
df.drop(['mist', 'drizzle', 'ice_fog', 'year'], axis=1, inplace=True)

In [10]:
df.describe()

,dayofyear,pickups,FHV_count,DAILYSunrise,DAILYSunset,wind_speed_average,precipitation,snowfall,snow_depth,temperature_max,temperature_min,fastest_2minute_windspeed,fog,heavy_fog,ice_pellets,glaze_rime,smoke_haze,EVENT_TYPE,month
count,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000,158270.000000
mean,94.310545,2.425406,5044.495539,549.585537,1814.170904,5.919053,0.107403,0.218245,2.434978,56.871391,41.066747,15.334412,0.321008,0.035711,0.005048,0.019416,0.344525,-0.815132,3.619985
std,51.532855,2.723894,2074.660338,108.633153,91.381029,2.361902,0.278989,0.946706,4.506545,20.250432,18.962640,3.660553,0.466865,0.185570,0.070872,0.137983,0.475215,1.265914,1.683289
min,1.000000,1.000000,437.000000,424.000000,1639.000000,2.010000,0.000000,0.000000,0.000000,19.000000,2.000000,6.900000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000
25%,51.000000,1.000000,3639.000000,435.000000,1736.000000,4.250000,0.000000,0.000000,0.000000,39.000000,25.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,2.000000
50%,96.000000,1.000000,5133.000000,532.000000,1826.000000,5.370000,0.000000,0.000000,0.000000,57.000000,41.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,4.000000
75%,139.000000,3.000000,6441.000000,644.000000,1910.000000,7.160000,0.040000,0.000000,2.000000,75.000000,57.000000,17.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,5.000000
max,181.000000,43.000000,13086.000000,720.000000,1931.000000,14.540000,2.100000,7.500000,19.000000,90.000000,75.000000,29.100000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,6.000000

In [11]:
df.shape

(158270, 23)

In [12]:
df.to_csv('final_clean_data_201501_06.csv')

df.to_csv('final_clean_data_201501.csv')

if DEVELOPE:
    df = df.sample(frac=0.1)
else:
    pass
print ("Shape of data\n{}".format(df.shape))

df.to_csv('final_clean_data_201501_shorter.csv')

if DEVELOPE:
    df = df.sample(frac=0.1)
else:
    pass
print ("Shape of data\n{}".format(df.shape))

df.to_csv('final_clean_data_201501_shortest.csv')